[node]
  enable_node = yes
  announce_at_start = yes
  announce_interval = 720
  retention_time = 72
  allowed_interfaces = all
  propagation_limit = 256

[logging]
  loglevel = 4

[textui]
  mouse_enabled = no
  intro_time = 0
  display_scrollbar = yes
  theme = dark
  editor = nano
  selected_item_prefix = " > "
  print_filenames = yes
