[reticulum]
  enable_transport = true
  share_instance = yes

[logging]
  loglevel = 4

[interfaces]

  [[Default TCP Interface]]
    type = TCPServerInterface
    enabled = yes
    listen_ip = 0.0.0.0
    listen_port = 4242

  [[Chicago Offline TCP]]
    type = TCPClientInterface
    enabled = yes
    target_host = mqtt.chioff.com
    target_port = 4242
